kubeEtcd:
  service:
    port: 2381
    targetPort: 2381
prometheus:
  prometheusSpec:
    nodeSelector:
      node-role.kubernetes.io/master: ""
    tolerations:
    - key: "node-role.kubernetes.io/master"
      operator: "Equal"
      effect: "NoSchedule"
prometheus-node-exporter:
  resources:
    requests:
      cpu: 100m
      memory: 30Mi